/**********************************
Description...: screen sass
Author........: hello@satur9.co.uk
Last Changed..: #{timestamp()} - v1.0
Notes #1......:
*********************************/

@import "tools/variables.scss";
@import "tools/mixins.scss";

@import "base/layout.scss";
@import "base/canvas.scss";
@import "base/room.scss";

@import "areas/a001.scss";
@import "areas/a002.scss";
@import "areas/a003.scss";
@import "areas/a004.scss";
@import "areas/a005.scss";
@import "areas/a006.scss";
@import "areas/a007.scss";

//lines
@import "areas/a011.scss";

//eggs
@import "areas/a021.scss";

/******************
Global Styles**/
hr {
clear:both;
height:1px;
font-size:0;
margin:30px 0;
border-bottom:1px solid $base-grey;
}

.hide {@include hide;}
.no-function {pointer-events:none;}
.webkit-blurry-fix {box-shadow:0 0 1px transparent;}

//quotes:"\201C""\201D""\2018""\2019";
