/**********************************
Description...: screen sass
Author........: hello@satur9.co.uk
Last Changed..: #{timestamp()} - v1.0
Notes #1......:
*********************************/

@import "variables.scss";
@import "mixins.scss";

@keyframes AnimationName {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}


/******************
Layout**/
* {padding:0;margin:0;border:0;box-sizing:border-box;}

body, html {
overflow:hidden;
height:100%;
}
body {
font-family:helvetica,sans-serif;
font-size:100%;
cursor:default;
scroll-behavior:smooth;

padding:2%;
background-color:#999;

background: linear-gradient(27deg, rgb(21,21,21) 5px, rgba(0,0,0,0) 5px),
			linear-gradient(207deg, rgb(21,21,21) 5px, rgba(0,0,0,0) 5px),
			linear-gradient(27deg, rgb(34,34,34) 5px, rgba(0,0,0,0) 5px),
			linear-gradient(207deg, rgb(34,34,34) 5px, rgba(0,0,0,0) 5px),
			linear-gradient(90deg, rgb(27,27,27) 10px, rgba(0,0,0,0) 10px),
			linear-gradient(180deg, rgb(29,29,29) 25%, rgb(26,26,26) 25%, rgb(26,26,26) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgb(36,36,36) 75%, rgb(36,36,36) 100%), rgb(19, 19, 19);
background-position:0 5px, 10px 0, 0 10px, 10px 5px, 0 0, 0 0;
background-origin:padding-box;
background-clip:border-box;
background-size:20px 20px;
}


.canvas {
overflow:hidden;
position:relative;
//width:1080px;height:600px;
width:100%;height:100%;max-height:570px;
margin:0 auto;
background-color:pink;
background:conic-gradient(#f00,#0f0,#00f);
background:linear-gradient(to right, rgba(200,40,0,1) 0%, rgba(56,200,0,1) 49%, rgba(0,0,200,1) 100%);
background:linear-gradient(to bottom, rgba(200,40,0,0.5) 0%, rgba(56,200,0,1) 49%, rgba(0,0,200,.2) 100%);


	div {
	position:absolute;

		div {
		position:relative;
		width:100%;height:100%;
		background-color:rgba(0,0,0,0.1);

			&:before, &:after {
			position:absolute;
			display:block;
			content:"";
			width:5px;height:5px;
			background-color:red;
			}
			&:before {top:0;left:0;}
			&:after {bottom:0;right:0;}
		}
	}

	.a001 {
	top:50px;left:50px;
	width:200px;height:5px;
	//background-color:brown;
	background:conic-gradient(#f00,#0f0,#00f);
	@include transform(translateX(-100px) translateY(10px) rotate(10deg) scale(2));
	filter:hue-rotate(90deg);
	}
	.a002 {
	top:50px;left:550px;
	width:200px;height:65px;
	opacity:0.9;
	border:2px solid rgba(255,25,0,0.1);
	border-left-width:0;
	border-bottom-width:0;
	border-top-left-radius:30px;
	background:linear-gradient(134deg, #d53369, #5c258d, #989133);
	@include transform(skew(15deg, 15deg));
	}
	.a003 {
	width:0;height:0;
	border-style:solid;
	border-width:0 50px 50px 50px;
	border-color:transparent transparent #007bff transparent;
	}

	.a004 {
	top:50px;right:50px;
	width:20px;height:20px;
	background-color:#333;
	border-radius:20px 10px 50%;
	@include transform(rotateZ(-251deg));
	}

	.a005 {
	display:block;
	bottom:50px;right:50px;
	width:50px;height:50px;

		&:after {
		content:"🐷";
		position:absolute;
		top:0;left:calc(50% - 7px);
		filter:blur(0.6px);
		}
	}

	.a006 {
	//bottom:50px;right:50%;
	width:40%;height:90%;
	clip-path: polygon(50% 2.4%, 34.5% 33.8%, 0% 38.8%, 25% 63.1%, 19.1% 97.6%, 50% 81.3%, 80.9% 97.6%, 75% 63.1%, 100% 38.8%, 65.5% 33.8%);
	background: repeating-linear-gradient(45deg, rgba(0,50,0,0.1), #bada55 15%, rgba(0,50,200,0.1) 20%);
	}

	.a007 {
	width:20%;height:50%;
	bottom:50px;right:50%;
	clip-path: polygon(56.97% 63.57%, 78.97% 86.28%, 60.87% 45.87%, 42% 53%, 64.63% 61.85%, 90.84% 54.57%, 81.54% 82.9%, 83.86% 68.06%, 41% 42%, 100% 49%, 81.55% 92.31%, 95.06% 52.18%, 56% 39%, 88.22% 61.73%, 36% 23%, 88.89% 69.02%, 53% 87%, 90.60% 38.22%, 97.65% 40.28%);
	filter:blur(309px);
	}

	.a011, .a012, .a013, .a014, .a015,
	.a016, .a017, .a018, .a019, .a020 {
	bottom:0;right:0;
	width:400px;height:1px;
	}
	.a011 {
	@include transform(translateX(90px) translateY(-12px) rotate(-45deg) scale(1));
	}
	.a012 {
	height:2px;
	@include transform(translateX(90px) translateY(-22px) rotate(-46deg) scale(1));
	}
	.a013 {
	height:3px;
	@include transform(translateX(90px) translateY(-32px) rotate(-47deg) scale(1));
	}
	.a014 {
	height:4px;
	@include transform(translateX(90px) translateY(-42px) rotate(-48deg) scale(1));
	}
	.a015 {
	height:5px;
	@include transform(translateX(90px) translateY(-52px) rotate(-49deg) scale(1));
	}
	.a016 {
	height:6px;
	@include transform(translateX(90px) translateY(-62px) rotate(-48deg) scale(1));
	}
	.a017 {
	height:7px;
	@include transform(translateX(90px) translateY(-72px) rotate(-47deg) scale(1));
	}
	.a018 {
	height:8px;
	@include transform(translateX(90px) translateY(-82px) rotate(-46deg) scale(1));
	}
	.a019 {
	height:7px;
	@include transform(translateX(90px) translateY(-92px) rotate(-45deg) scale(1));
	}
	.a020 {
	height:3px;
	@include transform(translateX(90px) translateY(-102px) rotate(-45deg) scale(1));
	}
}





/******************
Global Styles**/
.line, hr {
clear:both;
height:1px;
font-size:0;
margin:30px 0;
border-bottom:1px solid $base-grey;
}
.clearing {clear:both;}

.hide {@include hide;}
.no-function {pointer-events:none;}
.webkit-blurry-fix {box-shadow:0 0 1px transparent;}
.nice-scrolly-area {
overflow-y:scroll;
-webkit-overflow-scrolling:touch;
}

strong {font-weight:700;}
em {font-style:italic;}
q {
font-style:italic;
display:block;
}
address {font-style:normal;}
acronym, abbr {
cursor:help;
border-bottom:1px dotted #000;
}



/******************
Blockquotes**/
blockquote {
font-size:1.4em;
quotes:"\201C""\201D""\2018""\2019";
margin:20px 0;padding:20px 10px 0;
background-color:#f9f9f9;
border-left:10px solid #ccc;

	&:before, &:after {
	content:open-quote;
	font-size:4em;
	color:#696;
	line-height:0.1em;
	vertical-align:-0.4em;
	}
	&:before {margin-right:4px;}
	&:after {
	content:close-quote;
	vertical-align:-0.6em;
	margin-left:4px;
	}
	footer {
	clear:left;
	font-size:0.75em;
	}
	p, footer {display:inline;}
}

/******************
Links + slectors**/
a:link, a:visited {
color:$base-red;
text-decoration:underline;
}
a:hover {text-decoration:none;}
a:active, a:focus {
/*outline:none;*/
color:#000;
background-color:$focus-bg;
text-decoration:underline;
}

//removes outline for mouse users, preserves it for keyboard.
:focus:not(:focus-visible) {outline:none;}

a[href$=".pdf"]:after {content:"(PDF document)";}

::selection {background-color:$focus-bg;color:#000;}
::-moz-selection {background-color:$focus-bg;color:#000;}

//aria fallbacks for non-loading icons
.no-svg .icon-only:after {
content:attr(aria-label);
}

button {font-size:1.25em;}
button:only-of-type {font-size:2em;} //bigger if in section of its own
button:not(:only-of-type) {font-size:2em;} //bigger if more than one in section
button:nth-last-child(6) {} // the 6th last element
button:nth-last-child(6):first-child {} // the first of 6 elements. works only with 6 elements
button:nth-last-child(6):first-child,
button:nth-last-child(6):first-child ~ button {} // all elements from a specified set (6)
button:nth-child(n+6) {} // all elements from 6th upwards

/******************
Clearfix**/
.clearfix:after {
visibility:hidden;
display:block;
clear:both;
content:".";
font-size:0;
height:0;
}
* html .clearfix {zoom:1;}/*IE6*/
*:first-child+html .clearfix {zoom:1;}/*IE7*/

/******************
Fallbacks**/
@supports not (display:grid) {
	body {
	background-color: green;
	}
}
