@charset "UTF-8";
/**********************************
Description...: screen sass
Author........: hello@satur9.co.uk
Last Changed..: 2020-02-08 02:39:09 +0000 - v1.0
Notes #1......:
*********************************/
.edge--bottom {
  position: relative;
  z-index: 1;
}
.edge--bottom:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--bottom:after {
  bottom: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
}

.edge--bottom--reverse {
  position: relative;
  z-index: 1;
}
.edge--bottom--reverse:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--bottom--reverse:after {
  bottom: 0;
  transform: skewY(1.5deg);
  transform-origin: 0 100%;
}

.edge--top {
  position: relative;
  z-index: 1;
}
.edge--top:before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--top:before {
  top: 0;
  transform: skewY(1.5deg);
  transform-origin: 100% 0;
}

.edge--top--reverse {
  position: relative;
  z-index: 1;
}
.edge--top--reverse:before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--top--reverse:before {
  top: 0;
  transform: skewY(-1.5deg);
  transform-origin: 0 0;
}

.edge--both {
  position: relative;
  z-index: 1;
}
.edge--both:before, .edge--both:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--both:before {
  top: 0;
  transform: skewY(1.5deg);
  transform-origin: 100% 0;
}
.edge--both:after {
  bottom: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
}

.edge--both--reverse {
  position: relative;
  z-index: 1;
}
.edge--both--reverse:before, .edge--both--reverse:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--both--reverse:before {
  top: 0;
  transform: skewY(-1.5deg);
  transform-origin: 0 0;
}
.edge--both--reverse:after {
  bottom: 0;
  transform: skewY(1.5deg);
  transform-origin: 0 0;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/******************
Layout**/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body, html {
  overflow: hidden;
  height: 100%;
}

body {
  font-family: helvetica,sans-serif;
  font-size: 100%;
  cursor: default;
  scroll-behavior: smooth;
  padding: 5%;
  background-color: #999;
  background: linear-gradient(27deg, #151515 5px, transparent 5px), linear-gradient(207deg, #151515 5px, transparent 5px), linear-gradient(27deg, #222222 5px, transparent 5px), linear-gradient(207deg, #222222 5px, transparent 5px), linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(180deg, #1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424 100%), #131313;
  background-position: 0 5px, 10px 0, 0 10px, 10px 5px, 0 0, 0 0;
  background-origin: padding-box;
  background-clip: border-box;
  background-size: 20px 20px;
}

.canvas {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 500px;
  margin: 0 auto;
  background-color: pink;
  background: conic-gradient(#f00, #0f0, #00f);
  background: linear-gradient(to right, #c82800 0%, #38c800 49%, #0000c8 100%);
  background: linear-gradient(to bottom, rgba(200, 40, 0, 0.5) 0%, #38c800 49%, rgba(0, 0, 200, 0.2) 100%);
}
.canvas div {
  position: absolute;
}
.canvas div div {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
.canvas div div:before, .canvas div div:after {
  position: absolute;
  display: block;
  content: "";
  width: 5px;
  height: 5px;
  background-color: red;
}
.canvas div div:before {
  top: 0;
  left: 0;
}
.canvas div div:after {
  bottom: 0;
  right: 0;
}
.canvas .a001 {
  top: 50px;
  left: 50px;
  width: 200px;
  height: 5px;
  background: conic-gradient(#f00, #0f0, #00f);
  -webkit-transform: translateX(-100px) translateY(10px) rotate(10deg) scale(2);
  -moz-transform: translateX(-100px) translateY(10px) rotate(10deg) scale(2);
  -ms-transform: translateX(-100px) translateY(10px) rotate(10deg) scale(2);
  -o-transform: translateX(-100px) translateY(10px) rotate(10deg) scale(2);
  transform: translateX(-100px) translateY(10px) rotate(10deg) scale(2);
  filter: hue-rotate(90deg);
}
.canvas .a002 {
  top: 50px;
  left: 550px;
  width: 200px;
  height: 65px;
  opacity: 0.9;
  border: 2px solid rgba(255, 25, 0, 0.1);
  border-left-width: 0;
  border-bottom-width: 0;
  border-top-left-radius: 30px;
  background: linear-gradient(134deg, #d53369, #5c258d, #989133);
  -webkit-transform: skew(15deg, 15deg);
  -moz-transform: skew(15deg, 15deg);
  -ms-transform: skew(15deg, 15deg);
  -o-transform: skew(15deg, 15deg);
  transform: skew(15deg, 15deg);
}
.canvas .a003 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 50px 50px;
  border-color: transparent transparent #007bff transparent;
}
.canvas .a004 {
  top: 50px;
  right: 50px;
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 20px 10px 50%;
  -webkit-transform: rotateZ(-251deg);
  -moz-transform: rotateZ(-251deg);
  -ms-transform: rotateZ(-251deg);
  -o-transform: rotateZ(-251deg);
  transform: rotateZ(-251deg);
}
.canvas .a005 {
  display: block;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
}
.canvas .a005:after {
  content: "🐷";
  position: absolute;
  top: 0;
  left: calc(50% - 7px);
  filter: blur(0.6px);
}
.canvas .a006 {
  width: 40%;
  height: 90%;
  shape: polygon(50% 2.4%, 34.5% 33.8%, 0% 38.8%, 25% 63.1%, 19.1% 97.6%, 50% 81.3%, 80.9% 97.6%, 75% 63.1%, 100% 38.8%, 65.5% 33.8%);
}
.canvas .a007 {
  width: 20%;
  height: 50%;
  bottom: 50px;
  right: 50%;
  clip-path: polygon(56.97% 63.57%, 78.97% 86.28%, 60.87% 45.87%, 42% 53%, 64.63% 61.85%, 90.84% 54.57%, 81.54% 82.9%, 83.86% 68.06%, 41% 42%, 100% 49%, 81.55% 92.31%, 95.06% 52.18%, 56% 39%, 88.22% 61.73%, 36% 23%, 88.89% 69.02%, 53% 87%, 90.6% 38.22%, 97.65% 40.28%);
  filter: blur(309px);
}
.canvas .a011, .canvas .a012, .canvas .a013, .canvas .a014, .canvas .a015,
.canvas .a016, .canvas .a017, .canvas .a018, .canvas .a019, .canvas .a020 {
  bottom: 0;
  right: 0;
  width: 400px;
  height: 1px;
}
.canvas .a011 {
  -webkit-transform: translateX(90px) translateY(-12px) rotate(-45deg) scale(1);
  -moz-transform: translateX(90px) translateY(-12px) rotate(-45deg) scale(1);
  -ms-transform: translateX(90px) translateY(-12px) rotate(-45deg) scale(1);
  -o-transform: translateX(90px) translateY(-12px) rotate(-45deg) scale(1);
  transform: translateX(90px) translateY(-12px) rotate(-45deg) scale(1);
}
.canvas .a012 {
  height: 2px;
  -webkit-transform: translateX(90px) translateY(-22px) rotate(-46deg) scale(1);
  -moz-transform: translateX(90px) translateY(-22px) rotate(-46deg) scale(1);
  -ms-transform: translateX(90px) translateY(-22px) rotate(-46deg) scale(1);
  -o-transform: translateX(90px) translateY(-22px) rotate(-46deg) scale(1);
  transform: translateX(90px) translateY(-22px) rotate(-46deg) scale(1);
}
.canvas .a013 {
  height: 3px;
  -webkit-transform: translateX(90px) translateY(-32px) rotate(-47deg) scale(1);
  -moz-transform: translateX(90px) translateY(-32px) rotate(-47deg) scale(1);
  -ms-transform: translateX(90px) translateY(-32px) rotate(-47deg) scale(1);
  -o-transform: translateX(90px) translateY(-32px) rotate(-47deg) scale(1);
  transform: translateX(90px) translateY(-32px) rotate(-47deg) scale(1);
}
.canvas .a014 {
  height: 4px;
  -webkit-transform: translateX(90px) translateY(-42px) rotate(-48deg) scale(1);
  -moz-transform: translateX(90px) translateY(-42px) rotate(-48deg) scale(1);
  -ms-transform: translateX(90px) translateY(-42px) rotate(-48deg) scale(1);
  -o-transform: translateX(90px) translateY(-42px) rotate(-48deg) scale(1);
  transform: translateX(90px) translateY(-42px) rotate(-48deg) scale(1);
}
.canvas .a015 {
  height: 5px;
  -webkit-transform: translateX(90px) translateY(-52px) rotate(-49deg) scale(1);
  -moz-transform: translateX(90px) translateY(-52px) rotate(-49deg) scale(1);
  -ms-transform: translateX(90px) translateY(-52px) rotate(-49deg) scale(1);
  -o-transform: translateX(90px) translateY(-52px) rotate(-49deg) scale(1);
  transform: translateX(90px) translateY(-52px) rotate(-49deg) scale(1);
}
.canvas .a016 {
  height: 6px;
  -webkit-transform: translateX(90px) translateY(-62px) rotate(-48deg) scale(1);
  -moz-transform: translateX(90px) translateY(-62px) rotate(-48deg) scale(1);
  -ms-transform: translateX(90px) translateY(-62px) rotate(-48deg) scale(1);
  -o-transform: translateX(90px) translateY(-62px) rotate(-48deg) scale(1);
  transform: translateX(90px) translateY(-62px) rotate(-48deg) scale(1);
}
.canvas .a017 {
  height: 7px;
  -webkit-transform: translateX(90px) translateY(-72px) rotate(-47deg) scale(1);
  -moz-transform: translateX(90px) translateY(-72px) rotate(-47deg) scale(1);
  -ms-transform: translateX(90px) translateY(-72px) rotate(-47deg) scale(1);
  -o-transform: translateX(90px) translateY(-72px) rotate(-47deg) scale(1);
  transform: translateX(90px) translateY(-72px) rotate(-47deg) scale(1);
}
.canvas .a018 {
  height: 8px;
  -webkit-transform: translateX(90px) translateY(-82px) rotate(-46deg) scale(1);
  -moz-transform: translateX(90px) translateY(-82px) rotate(-46deg) scale(1);
  -ms-transform: translateX(90px) translateY(-82px) rotate(-46deg) scale(1);
  -o-transform: translateX(90px) translateY(-82px) rotate(-46deg) scale(1);
  transform: translateX(90px) translateY(-82px) rotate(-46deg) scale(1);
}
.canvas .a019 {
  height: 7px;
  -webkit-transform: translateX(90px) translateY(-92px) rotate(-45deg) scale(1);
  -moz-transform: translateX(90px) translateY(-92px) rotate(-45deg) scale(1);
  -ms-transform: translateX(90px) translateY(-92px) rotate(-45deg) scale(1);
  -o-transform: translateX(90px) translateY(-92px) rotate(-45deg) scale(1);
  transform: translateX(90px) translateY(-92px) rotate(-45deg) scale(1);
}
.canvas .a020 {
  height: 3px;
  -webkit-transform: translateX(90px) translateY(-102px) rotate(-45deg) scale(1);
  -moz-transform: translateX(90px) translateY(-102px) rotate(-45deg) scale(1);
  -ms-transform: translateX(90px) translateY(-102px) rotate(-45deg) scale(1);
  -o-transform: translateX(90px) translateY(-102px) rotate(-45deg) scale(1);
  transform: translateX(90px) translateY(-102px) rotate(-45deg) scale(1);
}

/******************
Global Styles**/
.line, hr {
  clear: both;
  height: 1px;
  font-size: 0;
  margin: 30px 0;
  border-bottom: 1px solid #bcbdc0;
}

.clearing {
  clear: both;
}

.hide {
  position: absolute;
  left: -9999px;
}

.no-function {
  pointer-events: none;
}

.webkit-blurry-fix {
  box-shadow: 0 0 1px transparent;
}

.nice-scrolly-area {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

q {
  font-style: italic;
  display: block;
}

address {
  font-style: normal;
}

acronym, abbr {
  cursor: help;
  border-bottom: 1px dotted #000;
}

/******************
Blockquotes**/
blockquote {
  font-size: 1.4em;
  quotes: "“" "”" "‘" "’";
  margin: 20px 0;
  padding: 20px 10px 0;
  background-color: #f9f9f9;
  border-left: 10px solid #ccc;
}
blockquote:before, blockquote:after {
  content: open-quote;
  font-size: 4em;
  color: #696;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
blockquote:before {
  margin-right: 4px;
}
blockquote:after {
  content: close-quote;
  vertical-align: -0.6em;
  margin-left: 4px;
}
blockquote footer {
  clear: left;
  font-size: 0.75em;
}
blockquote p, blockquote footer {
  display: inline;
}

/******************
Links + slectors**/
a:link, a:visited {
  color: #ed1c24;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a:active, a:focus {
  /*outline:none;*/
  color: #000;
  background-color: #ff0;
  text-decoration: underline;
}

:focus:not(:focus-visible) {
  outline: none;
}

a[href$=".pdf"]:after {
  content: "(PDF document)";
}

::selection {
  background-color: #ff0;
  color: #000;
}

::-moz-selection {
  background-color: #ff0;
  color: #000;
}

.no-svg .icon-only:after {
  content: attr(aria-label);
}

button {
  font-size: 1.25em;
}

button:only-of-type {
  font-size: 2em;
}

button:not(:only-of-type) {
  font-size: 2em;
}

/******************
Clearfix**/
.clearfix:after {
  visibility: hidden;
  display: block;
  clear: both;
  content: ".";
  font-size: 0;
  height: 0;
}

* html .clearfix {
  zoom: 1;
}

/*IE6*/
*:first-child + html .clearfix {
  zoom: 1;
}

/*IE7*/
/******************
Fallbacks**/
@supports not (display: grid) {
  body {
    background-color: green;
  }
}

/*# sourceMappingURL=style.css.map */
