.a003 {
width:0;height:0;
border-style:solid;
border-width:0 50px 50px 50px;
border-color:transparent transparent #007bff transparent;
box-shadow:
	0 0 60px 30px #fff,
	0 0 100px 60px #f0f,
	0 0 140px 90px #0ff;
}
