.a007 {
width:20%;height:50%;
bottom:50px;right:50%;
clip-path: polygon(56.97% 63.57%, 78.97% 86.28%, 60.87% 45.87%, 42% 53%, 64.63% 61.85%, 90.84% 54.57%, 81.54% 82.9%, 83.86% 68.06%, 41% 42%, 100% 49%, 81.55% 92.31%, 95.06% 52.18%, 56% 39%, 88.22% 61.73%, 36% 23%, 88.89% 69.02%, 53% 87%, 90.60% 38.22%, 97.65% 40.28%);
filter:blur(309px);
}
