.a011, .a012, .a013, .a014, .a015,
.a016, .a017, .a018, .a019, .a020 {
bottom:0;right:0;
width:400px;height:1px;
}
.a011 {
@include transform(translateX(90px) translateY(-12px) rotate(-45deg) scale(1));
}
.a012 {
height:2px;
@include transform(translateX(90px) translateY(-22px) rotate(-46deg) scale(1));
}
.a013 {
height:3px;
@include transform(translateX(90px) translateY(-32px) rotate(-47deg) scale(1));
}
.a014 {
height:4px;
@include transform(translateX(90px) translateY(-42px) rotate(-48deg) scale(1));
}
.a015 {
height:5px;
@include transform(translateX(90px) translateY(-52px) rotate(-49deg) scale(1));
}
.a016 {
height:6px;
@include transform(translateX(90px) translateY(-62px) rotate(-48deg) scale(1));
}
.a017 {
height:7px;
@include transform(translateX(90px) translateY(-72px) rotate(-47deg) scale(1));
}
.a018 {
height:8px;
@include transform(translateX(90px) translateY(-82px) rotate(-46deg) scale(1));
}
.a019 {
height:7px;
@include transform(translateX(90px) translateY(-92px) rotate(-45deg) scale(1));
}
.a020 {
height:3px;
@include transform(translateX(90px) translateY(-102px) rotate(-45deg) scale(1));
}
