.canvas {
	.room {
	width:100%;height:100%;

		div {
		position:absolute;
		}
		div:nth-child(1){
		clip-path:polygon(250px 100px, 0px 50px, 0px 400px, 250px 350px);
		background-color:rgba(0,0,0,0.4);
		}
		div:nth-child(2){
		clip-path:polygon(100% 0px, 250px 100px, 250px 350px, 100% 400px);
		background-color:rgba(0,0,0,0.2);
		}
		div:nth-child(3){
		clip-path:polygon(100% 0px, 0px 0px, 0px 50px, 250px 100px);
		background-color:rgba($base-purple,0.1);
		}
		div:nth-child(4){
		clip-path:polygon(250px 350px, 0px 400px, 0px 100%, 100% 100%, 100% 400px);
		background-color:rgba($base-blue,0.1);
		}
	}
}
